* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  margin: auto;
  width: 99%;
  padding: 34px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  justify-content: center;
  background-color: #3f566e;
  margin-bottom: 50px;
}
ul {
  gap: 100px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
}
ul a {
  padding: 4px;

  width: 24px;
  text-decoration: none;
  color: black;
}
ul a:hover {
  background-color: white;
  border-radius: 4px;
}
.boody {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}
.form-error {
  color: red;
}

.form-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.5);
}

.vv {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vv:hover {
  background-color: #0056b3;
}

.form-separator {
  text-align: center;
  margin: 10px 0;
  color: #aaa;
}
.form-succes {
  color: green;
}
/* dashbord  */
.main_dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}
.creat_post {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.form_creat {
  width: 600px;
}
/* ::::::::::::::::::::::: */
